@import '../palette/catppuccin-mocha.css';

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 0px;

}

@keyframes blink {
    to {
        background-color: @red;
        color: @text;
    }
}

tooltip {
    background-color: @highlight;
}

/* background colour for hover*/
#waybar .module:hover {
    background-color: @highlight;
}

menu {
	background-color: @background;
	border-radius: 4px;
}

menuitem {
	border-radius: 4px;
}

menuitem:hover {
	background-color: @highlight;
}

window#waybar {
	background-color: @background;
    border-bottom: none;
    color: @text;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -2px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    box-shadow: inset 0 -2px @rosewater;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
}

#workspaces button.active {
    background-color: transparent;
    box-shadow: inset 0 -2px @rosewater;
}

#workspaces button.urgent {
    background-color: transparent;
    box-shadow: inset 0 -2px @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: 6;
    animation-direction: alternate;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#custom-pipewire,
#custom-wireguard,
#tray,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    padding: 0 10px;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    font-weight: bold;
}

#battery {
    background-color: transparent;
    box-shadow: inset 0 -2px @blue;
}

#bluetooth {
	background-color: transparent;
    box-shadow: inset 0 -2px @blue;
	padding-left: 13px;
	padding-right: 13px;
}

#bluetooth.disabled {
    background-color: transparent;
    box-shadow: inset 0 -2px @red;
}

#bluetooth.off {
	background-color: transparent;
    box-shadow: inset 0 -2px @red;
}

#bluetooth.discoverable {
	background-color: transparent;
    box-shadow: inset 0 -2px @green;
}

#bluetooth.connected {
	background-color: transparent;
    box-shadow: inset 0 -2px @blue;
}

#custom-pipewire.mute {
    background-color: transparent;
    box-shadow: inset 0 -2px @red;
}

#custom-pipewire.low {
    background-color: transparent;
    box-shadow: inset 0 -2px @blue;
}

#custom-pipewire.medium {
    background-color: transparent;
    box-shadow: inset 0 -2px @blue;
}

#custom-pipewire.high {
    background-color: transparent;
    box-shadow: inset 0 -2px @blue;
}

#custom-wireguard.activated {
    background-color: transparent;
    box-shadow: inset 0 -2px @green;
}

#custom-wireguard.deactivated {
    background-color: transparent;
    box-shadow: inset 0 -2px @red;
}

#custom-wireguard.none {
    background-color: transparent;
    box-shadow: inset 0 -2px @blue;
}

#custom-power {
    background-color: transparent;
    margin-right: 2px;
}

#custom-hardware {
    background-color: transparent;
    box-shadow: inset 0 -2px @teal;
    padding-right: 5px;
    padding-left: 5px;
}

#battery.charging, #battery.plugged {
    background-color: transparent;
    box-shadow: inset 0 -2px @green;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: transparent;
    box-shadow: inset 0 -2px @red;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 10px;
}

#power-profiles-daemon.performance {
    background-color: transparent;
    box-shadow: inset 0 -2px @red;
}

#power-profiles-daemon.balanced {
    background-color: transparent;
    box-shadow: inset 0 -2px @blue;
}

#power-profiles-daemon.power-saver {
    background-color: transparent;
    box-shadow: inset 0 -2px @green;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
    box-shadow: inset 0 -2px @teal;
}

#memory {
    background-color: transparent;
    box-shadow: inset 0 -2px @teal;
}

#disk {
    background-color: transparent;
    box-shadow: inset 0 -2px @teal;
}

#backlight {
    background-color: transparent;
    box-shadow: inset 0 -2px @blue;
}

#network {
    background-color: transparent;
    box-shadow: inset 0 -2px @blue;
}

#network.disconnected {
    background-color: transparent;
    box-shadow: inset 0 -2px @red;
}

#custom-media:hover {
    background-color: transparent;
}

#custom-prev {
    margin: 4px;
    padding: 4px;
}

#custom-prev:hover {
    box-shadow: inset 0 -2px @text;
}

#custom-play {
    margin: 4px;
    padding: 4px;
}

#custom-play:hover {
    box-shadow: inset 0 -2px @text;
}

#custom-next {
    margin: 4px;
    padding: 4px;
}

#custom-next:hover {
    box-shadow: inset 0 -2px @text;  
}

#custom-media.custom-spotify {
    background-color: transparent;
}

#custom-media.custom-vlc {
    background-color: transparent;
}

#temperature {
    background-color: transparent;
    box-shadow: inset 0 -2px @teal;
}

#temperature.critical {
    background-color: transparent;
    box-shadow: inset 0 -2px @red;
}

#tray {
    margin-right: 10px;
    background-color: transparent;
    box-shadow: inset 0 -2px @peach;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: transparent;
    box-shadow: inset 0 -2px @red;
}

#idle_inhibitor {
    background-color: transparent;
    box-shadow: inset 0 -2px @blue;
    font-size: 17px;
}

#idle_inhibitor.activated {
    background-color: transparent;
    box-shadow: inset 0 -2px @red;

}

#mpd {
    background-color: transparent;
}

#mpd.disconnected {
    background-color: transparent;
    box-shadow: inset 0 -2px @red;
}

#mpd.stopped {
    background-color: transparent;
    box-shadow: inset 0 -2px @red;
}

#mpd.paused {
    background-color: transparent;
    box-shadow: inset 0 -2px @red;
}

#language {
    box-shadow: inset 0 -2px @blue;
    color: @text;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    box-shadow: inset 0 -2px @blue;
    color: @text;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    box-shadow: inset 0 -2px @green;
}

#scratchpad {
    box-shadow: inset 0 -2px @flamingo;
}

#scratchpad.empty {
	box-shadow: inset 0 -2px @text;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: @text;
}

#privacy-item.screenshare {
    background-color: @red;
}

#privacy-item.audio-in {
    background-color: @green;
}

#privacy-item.audio-out {
    background-color: @red;
}
