@import '.config/palette/catppuccin-mocha.css';

#window {
    background-color: @background;
	border-radius: 5px;
}

#input {
    background-color: @background;
    border: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
	border-radius: 5px;
    color: @text;
}

#input:focus {
    box-shadow: none;
}

#img {
    margin: 3px;
}

#entry {
    color: @text;
    padding: 8px 16px;
    margin: 4px;
	border-radius: 5px;
}

#entry:selected {
    background-color: @highlight;
    color: @text;
    outline: none;
}
